<% provide(:title, 'Home') %>

<% unless current_user %>
  <div class="center hero-unit">
    <h1>Welcome to the User notes demo app</h1>

      <h2>
        This is the home page. You will be able to create notes after signing up.
      </h2>

      <%= link_to 'Sign up', register_path, class: 'btn btn-large btn-primary' %>

  </div>
<% end %>

<div class="row">
  <div class="col-md-7">
    <% if current_user.notes.any? %>
      <h2>My notes (<%= @notes.count %>)</h2>
      <%= render @notes %>
      <%= will_paginate @notes %>
    <% end %>
  </div>

  <div class="col-md-4 col-md-offset-1">
    <% if current_user %>
        <%= render 'form' %>
    <% end %>
  </div>
</div>